body{
   overflow-y: hidden;
   overflow-x: hidden;
}

.home{
   height: 90vh;
}

.home-title h2 {
   font-family: 'Open Sans', sans-serif;
   animation-name: homeTitleEffect;
   animation-duration: 1.5s;
   animation-fill-mode: forwards;
   -webkit-touch-callout: none;
   user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;
}

.home-contentText{
   -webkit-touch-callout: none;
   user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;
}

.home-contentText :first-child{
   animation-name: contentTextEffectL;
   animation-duration: 2s;
}

.home-contentText :last-child{
   animation-name: contentTextEffectR;
   animation-duration: 2s;
}

.home-skill {
   opacity: 0;
   display: flex;
   justify-content: space-evenly;
   list-style: none;
   -webkit-touch-callout: none;
   user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;
}

.showSkill{
   animation-name: skill;
   animation-duration: 1.3s;
   opacity: 1;
   transition: all 1s;
}

.home-skill li:hover {
   transform: scale(1.1);
   transition: all 0.5s;
}

.home-example{
   height: 100vh;
}

.home-example-img{
   overflow-x: scroll;
}

.home-example img {
   margin-top: 10px;
   margin-right: 20px;
   border-radius: 10px;
   border: 3px solid black;
}

.example-img{
   border-radius: 10px;
   border: 3px solid black;
   cursor: pointer;
}

.down-text{
   position: fixed;
   left: 42%;
   bottom: 80px;
   -webkit-touch-callout: none;
   user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -webkit-user-select: none;
}

.down {
   position: fixed;
   bottom: 65px;
   cursor: pointer;
}

.down:hover {
   transform: translateY(20px);
   transition: all 0.5s;
}

.up {
   position: fixed;
   top: 20px;
   cursor: pointer;
}

.up:hover {
   transform: translateY(-20px);
   transition: all 0.5s;
}

.skill-btn {
   position: fixed;
   left: -70px;
   writing-mode: vertical-rl;
   text-orientation: upright;
   cursor: pointer;
   background-color: #61DBFB;
   padding: 15px;
   border-radius: 10px;
}

.skill-btn:hover {
   transform: translateX(30px);
   transition: all 0.5s;
}

.home-example-img{
   display: flex;
}

@keyframes skill {
   0% {transform: translateX(-200px);}
   33% {transform: skewX(20deg);}
   100% {transform: translateX(0px), skewX(0deg);}
}

@keyframes homeTitleEffect {
   0% {transform: translateY(-200px);}
   20% {transform: translateY(50px);}
   70% {transform: translateY(-20px);}
   75% {transform: translateY(10px);}
   90% {transform: translateY(-10px);}
   93% {transform: translateY(0px);}
}

@keyframes contentTextEffectL {
   0% {transform: translateX(-1000px);}
   33% {transform: skewX(30deg);}
   100% {transform: translateX(0px), skewX(0deg);}
}
@keyframes contentTextEffectR {
   0% {transform: translateX(1000px);}
   33% {transform: skewX(-30deg);}
   100% {transform: translateX(0px), skewX(0deg);}
}