.linkedList-header h2{
   font-family: 'Open Sans', sans-serif;
   color: cornflowerblue;
}

.linkedList-container{
   display: flex;
   /* flex-wrap: wrap; */
}

.linkedList-box{
   width: 200px;
   min-width: 100px;
   height: 80px;
   border-radius: 20px;
   background-color: coral;
}

@media screen and (max-width: 768px){
   .linkedList-container{
      overflow-x: scroll;
   }
}